/* BACKGROUND COLOR */
/* =================================== */

.background-color-f0e68c {
background-color: #f0e68c;
}

.background-color-f5deb3 {
background-color: #f5deb3;
}

.background-color-f1f1f1 {
background-color: #f1f1f1;
}