@media (max-width: 800px) {
.block-article {
padding-left: 20px;
padding-right: 20px;
}
}

@media (max-width: 100px) {
.block-article {
display: none;
}

.block-watch {
display: block;
}

body {
background-color: #c70000;
}
}