h1 {
 color: white;
 text-align: center;
}

button {
 padding: 10px 20px;
 border: 2px solid #fff;
 border-radius: 5px;
 background-color: transparent;
 color: #fff;
 font-size: 16px;
 cursor: pointer;
 transition: all 0.3s ease;
 margin-right: 10px;
}

.glavdiv {
 width: 100%;
 padding-left: 20px;
 padding-right: 20px;
}

.rod {
 background-color: #fff;
 border-radius: 20px;
 margin-top: 20px;
 margin-right: 20px;
 margin-bottom: 20px;
 margin-left: 20px;
 position: relative;
}

.tit {
 font-size: 40%px;
 white-space: nowrap;
 text-align: center;
}

.p2024 {
 color: white;
 text-align: center;
}

.blok1 {
 background-color: #888888;
 border-radius: 100%;
 margin-top: 20%;
 margin-right: 80%;
 margin-bottom: 5%;
 margin-left: 2%;
 width: 150px;
 height: 150px;
 position: absolute;
 top: 100px;
 left: 100px;
}

@media (max-width: 767px) {
 .blok1 {
  display: none;
 }
}


.blok2 {
}