.rules {
    margin: 0 0 10px 0;
    max-width: 100%;
}

.color-div {
    background-color: #f0e68c;
    padding: 20px 20px 10px 20px;
}

body {
    padding: 0px;
    margin: 0px;
}

.block-article {
    padding-left: 25%;
    padding-right: 25%;
    background-color: #fff;
}

.paragraph {
    color: #000; /* Цвет текста */
    font-size: 19px;
    font-family: Helvetica, Arial, sans-serif;
}

.heading2 {
    color: #000;
    font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
}

.quote {
  padding: 10px; /* Внутренние отступы */
  border-left: 5px solid #616161; /* Цвет темной полосы слева */
  background-color: #f1f1f1;
}

.a-button-white {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  font-family: Helvetica, Arial, sans-serif;
  transition: background-color 0.3s; /* добавляем плавное изменение цвета фона */
  box-sizing: border-box;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin: 0px;
}

.a-button-white:hover {
  background-color: #e3e3e3; /* изменяем цвет фона при наведении */
}

.a-button-white:active {
  background-color: #cccccc; /* изменяем цвет фона при нажатии */
}

.list {
  list-style-type: disc;
  margin: 0;
  padding-left: 10px;
}

.div-buttons {
    text-align: center;
}

.block-404 {
padding: 20px;
text-align: center;
margin: 0;
background-color: #ace5ee;
color: #fff;
font-family: Helvetica, Arial, sans-serif;
font-size: 19vw;
display: none;
width: 100%;
}

/* ---------- РАЗМЕРЫ ЭКРАНА ---------- */

@media (max-width: 900px) {
}

@media (max-width: 800px) {
.block-article {
    padding-left: 20px;
    padding-right: 20px;
}

.paragraph {
    font-size: 18px;
}
}

@media (max-width: 700px) {
.paragraph {
    font-size: 17px;
}
}

@media (max-width: 600px) {
.paragraph {
    font-size: 16px;
}
}

@media (max-width: 500px) {
.paragraph {
    font-size: 15px;
}
}

@media (max-width: 400px) {
.paragraph {
    font-size: 14px;
}
}

@media (max-width: 300px) {
.block-article {
    display: none;
}

.paragraph {
    font-size: 13px;
}

.block-404 {
display: block;
}
}